<footer class="text-center">
    <div class="text-center p-3 bg-dark">
        <p class="text-white">StudyBuddy is a project by 
            <a href="https://www.linkedin.com/in/mariostojcevski/" class="text-white"
             target="_blank">Mario</a> 
            and 
            <a href="https://www.linkedin.com/in/marko-markovikj-6b88a11aa/" class="text-white"
             target="_blank">Marko</a></p>
        <span class="text-white">© {{year}} </span>
        <a class="text-white" href="#">StudyBuddy</a>
    </div>
  </footer>