
<div class="jumbotron mt-3">
    <h1 class="display-4">Hello!</h1>
    <p class="lead">
        Are you looking for some course to boost your IT skills? 
        StudyBuddy can help you out!
    </p>
    <hr class="my-4">
    <p>
        Students take courses largely as a means of improving job-related skills.
        Some courses generate credit toward technical certification. 
        StudyBuddy has made a special effort to attract corporate trainers seeking 
        to create coursework for employees of their company.
    </p>
    <p class="lead">
      <a class="btn btn-dark btn-lg" [routerLink]="['register']" role="button">Interested?</a>
    </p>
  </div>

<div class="container mt-4 mb-5">

  <div class="row text-center">
    <div class="col-md-4 col-sm-6" *ngFor="let course of courseList">
      <div style="height: 70px;"><h3 class="mt-2 course">{{course.courseName}}</h3></div>
      <img width="250" height="250" class="row-photo" src="{{course.courseImageUrl}}">
      <a class="btn btn-dark" [routerLink]="['/courses', course.id]" role="button">View course</a>
    </div>
  </div>

</div>