<div id="list-teachers">
  <div class="row mt-4 mb-4">
    <div class="col-md-8">
      <h3>StudyBuddy Teachers</h3>
    </div>
    <div class="col-md-4 text-right">
      <button class="btn btn-secondary" 
      data-toggle="modal" 
      data-target="#addTeacherModal">Add teacher</button>
    </div>
  </div>

  <table class="table table-hover mt-4">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Name</th>
          <th scope="col">Surname</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let teacher of teacherList">
            <td></td>
            <td>{{teacher.firstName}}</td>
            <td>{{teacher.lastName}}</td>
            <td class="text-right">
              <button 
                (click)=onSelect(teacher) 
                class="btn btn-sm btn-secondary"
                data-toggle="modal" 
                data-target="#teacherDetailsModal">
                  Details
              </button>
            </td>
        </tr>
      </tbody>
  </table>
</div>


<!--Modal for adding a student-->
<div  class="modal fade" 
      id="addTeacherModal"
      tabindex="-1" 
      role="dialog" 
      aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add a new teacher to the StudyBuddy Program!</h5>
        <button (click)="cleanTeacher()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (ngSubmit)="onSubmit()">
        <div class="modal-body">
          <div class="form-group">
            <label> First Name </label>
            <input type="text" 
                class="form-control" 
                [(ngModel)]="addTeacher.firstName"
                required="true"
                name="firstName"
                id="firstName">
          </div>
          <div class="form-group">
            <label> Last Name </label>
            <input type="text" 
                class="form-control" 
                [(ngModel)]="addTeacher.lastName"
                required="true"
                name="lastName"
                id="lastName">
          </div>
          <div class="form-group">
            <label> Email Address </label>
            <input type="email" 
                class="form-control" 
                [(ngModel)]="addTeacher.emailAddress"
                required="true"
                name="emailAddress"
                id="emailAddress">
          </div>
          <div class="form-group">
            <label> Salary </label>
            <input type="number" 
                class="form-control" 
                [(ngModel)]="addTeacher.teacherSalary"
                required="true"
                name="teacherSalary"
                id="teacherSalary">
          </div>
          <div class="form-group">
            <label> Password </label>
            <input type="password" 
                class="form-control" 
                [(ngModel)]="addTeacher.password"
                required="true"
                name="password"
                id="password">
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-md btn-secondary" type="submit">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!--Show teacher details-->
<div class="modal fade" id="teacherDetailsModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Details about <span class="text-info">{{selectedTeacher.lastName}} {{selectedTeacher.firstName}}</span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeSalary()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><b>Email Address:</b> {{selectedTeacher.emailAddress}}</p>
        <button id="salaryText" class="btn btn-sm btn-secondary" (click)="showSalary()">Show salary</button>
      </div>
      <div class="modal-footer">
        <button (click)="editTeacher(selectedTeacher)" data-toggle="modal" data-target="#addTeacherModal" class="btn btn-info" data-dismiss="modal">Edit</button>
        <button (click)="deleteTeacher(selectedTeacher)" class="btn btn-danger" data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>