<div id="list-courses">
  <div class="row mt-4 mb-4">
    <div class="col-md-8">
      <h3>StudyBuddy Courses</h3>
    </div>
    <div class="col-md-4 text-right">
      <button class="btn btn-secondary" 
      data-toggle="modal" 
      data-target="#addCourseModal">Add course</button>
    </div>
  </div>

<!--Course table-->
  <table class="table table-hover mt-4">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Course</th>
          <th scope="col">Points</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of courseList" (click)="onSelect(course)" 
        data-toggle="modal" data-target="#courseDetailsModal">
            <td>{{course.id}}</td>
            <td>{{course.courseName}}</td>
            <td><b>{{course.coursePoints}}</b></td>
        </tr>
      </tbody>
  </table>
</div>


<!--Modal for adding a course-->
<div  class="modal fade" 
      id="addCourseModal"
      tabindex="-1" 
      role="dialog" 
      aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add a new course to the StudyBuddy Program!</h5>
        <button (click)="cleanCourse()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (ngSubmit)="onSubmit()">
        <div class="modal-body">
          <div class="form-group">
            <label> Course Name </label>
            <input type="text" 
                class="form-control" 
                [(ngModel)]="addCourse.courseName"
                required="true"
                name="courseName"
                id="courseName">
          </div>
          <div class="form-group">
            <label> Course Points </label>
            <input type="number" 
                class="form-control" 
                [(ngModel)]="addCourse.coursePoints"
                required="true"
                name="coursePoints"
                id="coursePoints">
          </div>
          <div class="form-group">
            <label> Course Description </label>
            <input type="text" 
                class="form-control" 
                [(ngModel)]="addCourse.courseDescription"
                required="true"
                name="courseDescription"
                id="courseDescription">
          </div>
          <div class="form-group">
            <label> Course Image URL </label>
            <input type="text" 
                class="form-control" 
                [(ngModel)]="addCourse.courseImageUrl"
                required="true"
                name="courseImageUrl"
                id="courseImageUrl">
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-md btn-secondary" type="submit">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!--Modal for course details-->
<div  class="modal fade"
      id="courseDetailsModal"
      tabindex="-1"
      role="dialog"
      aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Details about course</h5>
        <button class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><b>Course name:</b> &nbsp;<i>{{selectedCourse.courseName}}</i></p>
        <p><b>Course points:</b> &nbsp;<i>{{selectedCourse.coursePoints}}</i></p>
        <div class="text-center mb-3">
          <img src="{{selectedCourse.courseImageUrl}}" style="max-width: 150px; max-height: 150px;">
        </div>
        <p><b>Course program:</b> &nbsp;<i>{{selectedCourse.courseDescription}}</i></p>
        </div>
      <div class="modal-footer">
        <button (click)="editCourse(selectedCourse)" data-toggle="modal" data-target="#addCourseModal" class="btn btn-info" data-dismiss="modal">Edit</button>
        <button (click)="deleteCourse(selectedCourse)" class="btn btn-danger" data-dismiss="modal">Delete</button>
        <button (click)="enrollCourse()" class="btn btn-secondary" data-dismiss="modal">Enroll course</button>
      </div>
    </div>
  </div>
</div>