<div id="list-courses">
  <div class="row mt-4 mb-4">
    <div class="col-md-8">
      <h3>StudyBuddy Courses</h3>
    </div>
    <div class="col-md-4 text-right">
      <button class="btn btn-secondary" 
      data-toggle="modal" 
      data-target="#addCourseModal">Add course</button>
    </div>
  </div>

<!--Course table-->
  <table class="table table-hover mt-4">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Course</th>
          <th scope="col">Points</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of courseList" (click)="onSelect(course)">
            <td>{{course.id}}</td>
            <td>{{course.courseName}}</td>
            <td><b>{{course.coursePoints}}</b></td>
        </tr>
      </tbody>
  </table>
</div>


<!--Modal for adding a course-->
<div  class="modal fade" 
      id="addCourseModal"
      tabindex="-1" 
      role="dialog" 
      aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add a new course to the StudyBuddy Program!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (ngSubmit)="onSubmit()">
        <div class="modal-body">
          <div class="form-group">
            <label> Course Name </label>
            <input type="text" 
                class="form-control" 
                [(ngModel)]="course.courseName"
                required="true"
                name="courseName"
                id="courseName">
          </div>
          <div class="form-group">
            <label> Course Points </label>
            <input type="number" 
                class="form-control" 
                [(ngModel)]="course.coursePoints"
                required="true"
                name="coursePoints"
                id="coursePoints">
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-md btn-secondary" type="submit">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!--Modal for course details-->
<div  class="modal fade"
      id="courseDetailsModal"
      tabindex="-1"
      *ngIf="showDetails"
      role="dialog"
      aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Details about course</h5>
        <button class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Course name: name</p>
        <p>Course points: points</p>
        <p>Course description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab error, porro at unde, quia ratione hic rerum veritatis quis repellendus inventore quaerat? Non fugiat quod quaerat vitae nulla exercitationem totam!</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>