<div style="min-height: 500px;">
    <div class="p-2 pt-md-4 pb-md-3 mx-auto text-center">
        <h3 class="text-center">Create your StudyBuddy account!</h3>
    </div>
    <div class="row">
        <div class="col-md-8 offset-2">
            <h4 class="mb-3">Your adress</h4>
            <form action="order.html" method="get">

                <div class="row">
                    <div class="col-md-6 mb-3 form-group">
                        <label for="firstName">First name</label>
                        <input type="text" class="form-control" id="firstName" placeholder="Your first name">
                    </div>
                    
                    <div class="col-md-6 mb-3 form-group">
                        <label for="lastName">Last name</label>
                        <input type="text" class="form-control" id="lastName" placeholder="Your last name" value="">
                    </div>
                </div>
                    
                <div class="mb-3 form-group">
                    <label for="email">Email</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">@</span>
                        </div>
                        <input type="text" class="form-control" id="email" placeholder="Email">
                    </div>
                </div>

                <div class="mb-3 form-group">
                    <label for="address">Adress</label>
                    <input type="text" class="form-control" id="address" placeholder="Bakery street">
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3 form-group">
                        <label for="state">What is your field of interest?</label>
                        <select class="custom-select w-100" id="state">
                                <option>Front-End Web Developer</option>
                                <option>Back-End Web Developer</option>
                                <option>Machine Learning</option>
                                <option>Cyber Security</option>
                        </select>
                    </div>

                    <div class="col-md-6 mb-3 form-group">
                        <label for="country">Do you have any previous experience?</label>
                        <select class="custom-select w-75" id="country">
                            <option>No experience</option>
                            <option>Basic knowledge</option>
                            <option>Intermediate programmer</option>
                            <option>Hackerman</option>
                        </select>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-dark btn-md mb-3 w-50" type="submit">Start learning!</button>
                </div>
            </form>
        </div>
    </div>
</div>